body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
}

 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }


 .card-container {
    display: flex;
    flex-direction:row;
  }

  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(177, 30, 30, 0.1);
    margin-left: 30px;
  }

  .color-card1 {
    border-color: #3498db;
  }

  .color-card2 {
    border-color: rgb(230, 71, 95)
  }

  .card-header {
    background-color: #f1f1f1;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    color:rgb(59, 58, 58);
  }

  .card-body {
    padding: 15px;
  }

  .colorp1 > p {
    color: #3498db;
  }

  .colorp2 > p {
    color:  rgb(120, 119, 119);
  }

  .colorp3 > p {
    color:  rgb(230, 71, 95);
  }

  @media (max-width: 800px) {
    body {
      align-items: center;
      height: 800px;
    }
   
    .container {
        display: flex;
        align-items: center;
        width: 100%;
    }
   
    .card {
      width: 100%; 
      margin-bottom: 20px;
    }

    .card-container {
      flex-direction: column;
      align-items: center;
      width: 60%;
     
    }
  }


